<div class="register-container">
    <h2>Create Account</h2>
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onRegister()">
          <div class="form-group">
            <label>Full Name</label>
            <input type="text" [(ngModel)]="fullName" name="fullName" class="form-control" required />
          </div>
  
          <div class="form-group mt-3">
            <label>Email</label>
            <input type="email" [(ngModel)]="email" name="email" class="form-control" required />
          </div>
  
          <div class="form-group mt-3">
            <label>Password</label>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" required />
          </div>
  
          <button type="submit" class="btn btn-success w-100 mt-3">Register</button>
        </form>
  
        <p class="text-danger mt-2">{{ message }}</p>
      </div>
    </div>
  </div>
  